<!-- Left Sidebar  -->
<div class="left-sidebar">
<!-- Sidebar scroll-->
<div class="scroll-sidebar">
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
        <ul id="sidebarnav">
            <li class="nav-devider"></li>

            <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-tachometer"></i><span class="hide-menu">Dashboard</span></a>
                <ul aria-expanded="false" class="collapse">
                    <li><a href="chart-flot.html">Introduction</a></li>
                    <li><a href="chart-flot.html">Regulation</a></li>
                </ul>
            </li>

            <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="far fa-address-book"></i><span class="hide-menu">Student</span></a>
                <ul aria-expanded="false" class="collapse">
                    <li><a href="chart-flot.html">Profile</a></li>
                    <li><a href="chart-flot.html">Fee Information</a></li>
                    <li><a href="chart-flot.html">Schedule</a></li>
                </ul>
            </li>
            <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-bar-chart"></i><span class="hide-menu">Grades</span></a>
                <ul aria-expanded="false" class="collapse">
                    <li><a href="chart-flot.html">Grade 10</a></li>
                    <li><a href="chart-morris.html">Grade 11</a></li>
                    <li><a href="chart-chartjs.html">Grade 12</a></li>
                </ul>
            </li>

            <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-suitcase"></i><span class="hide-menu">Attendance</span></a>
                <ul aria-expanded="false" class="collapse">
                    <li><a href="ui-alert.html"></a></li>
                    <li><a href="ui-button.html"></a></li>
                    <li><a href="ui-dropdown.html"></a></li>
                    <li><a href="ui-progressbar.html"></a></li>
                    <li><a href="ui-tab.html"></a></li>
                    <li><a href="ui-typography.html"></a></li>
                </ul>
            </li>
<li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-suitcase"></i><span class="hide-menu">Components</span></a>
                <ul aria-expanded="false" class="collapse">
                    <li><a href="uc-calender.html"></a></li>
                    <li><a href="uc-datamap.html"></a></li>
                    <li><a href="uc-nestedable.html"></a></li>
                    <li><a href="uc-sweetalert.html"></a></li>
                    <li><a href="uc-toastr.html"></a></li>
                    <li><a href="uc-weather.html"></a></li>
                </ul>
            </li>
            <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-table"></i><span class="hide-menu">Time Table</span></a>
                <ul aria-expanded="false" class="collapse">
                    <li><a href="layout-blank.html"></a></li>
                    <li><a href="layout-boxed.html"></a></li>
                    <li><a href="layout-fix-header.html"></a></li>
                    <li><a href="layout-fix-sidebar.html"></a></li>
                </ul>
            </li>

            <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-map-marker"></i><span class="hide-menu">School Maps</span></a>
                <ul aria-expanded="false" class="collapse">
                    <li><a href="map-google.html">Google</a></li>
                    <li><a href="map-vector.html">Vector</a></li>
                </ul>
            </li>
            <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-edit"></i><span class="hide-menu">Assignment</span></a>
                <ul aria-expanded="false" class="collapse">
                    <li><a href="chart-flot.html">Time Table</a></li>
                    <li><a href="#"></a></li>

                </ul>
            </li>
            <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-wpforms"></i><span class="hide-menu">Help</span></a>
            <ul aria-expanded="false" class="collapse">
                <li><a href="form-basic.html"></a></li>
                <li><a href="form-layout.html"></a></li>
                <li><a href="form-validation.html"></a></li>
                <li><a href="form-editor.html"></a></li>
                <li><a href="form-dropzone.html"></a></li>
            </ul>
        </li>
        <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-columns"></i><span class="hide-menu">Contact Us</span></a>
            <ul aria-expanded="false" class="collapse">
                <li><a href="table-bootstrap.html"></a></li>
                <li><a href="table-datatable.html"></a></li>
            </ul>
        </li>
        </ul>
    </nav>
    <!-- End Sidebar navigation -->
</div>
<!-- End Sidebar scroll-->
</div>
<!-- End Left Sidebar  -->