<!-- Left Sidebar  -->
<div class="left-sidebar">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
      <ul id="sidebarnav">
        <li class="nav-devider"></li>

        <li>
          <a class="has-arrow  " href="#" aria-expanded="false">
            <i class="fa fa-tachometer"></i>
            <span class="hide-menu">Dashboard</span>
          </a>
          <ul aria-expanded="false" class="collapse">
            <li>
              <a href="chart-flot.html">Introduction</a>
            </li>
            <li>
              <a href="chart-flot.html">Regulation</a>
            </li>
          </ul>
        </li>

        <li>
          <a class="has-arrow  " href="#" aria-expanded="false">
            <i class="fa fa-address-book"></i>
            <span class="hide-menu">Học sinh</span>
          </a>
          <ul aria-expanded="false" class="collapse">
            <li>
              <a href="chart-flot.html">Profile</a>
            </li>
            <li>
              <a href="chart-flot.html">Fee Information</a>
            </li>
            <li>
              <a href="chart-flot.html">Schedule</a>
            </li>
          </ul>
        </li>
        <li>
          <a class="has-arrow  " href="#" aria-expanded="false">
            <i class="fa fa-bar-chart"></i>
            <span class="hide-menu">Điểm số</span>
          </a>
          <ul aria-expanded="false" class="collapse">
            <li>
              <a href="chart-flot.html">Điểm theo môn</a>
            </li>
            <li>
              <a href="chart-morris.html">Điểm theo lớp</a>
            </li>
            <li>
              <a href="chart-chartjs.html">Điểm cá nhân</a>
            </li>
          </ul>
        </li>

        <li>
          <a class="has-arrow  " href="#" aria-expanded="false">
            <i class="fa fa-suitcase"></i>
            <span class="hide-menu">Danh sách phòng học</span>
          </a>
          <ul aria-expanded="false" class="collapse">
            <li>
              <a href="ui-alert.html">Mượn Phòng</a>
            </li>
            <li>
              <a href="ui-button.html">Kiểm duyệt phòng</a>
            </li>
          </ul>
        </li>
        <li>
          <a class="has-arrow  " href="#" aria-expanded="false">
            <i class="fa fa-suitcase"></i>
            <span class="hide-menu">Lớp học</span>
          </a>
          <ul aria-expanded="false" class="collapse">
            <li>
              <a href="uc-calender.html">Khối 10</a>
            </li>
            <li>
              <a href="uc-datamap.html">Khối 11</a>
            </li>
            <li>
              <a href="uc-nestedable.html">Khối 12</a>
            </li>
          </ul>
        </li>
        <li>
          <a class="has-arrow  " href="#" aria-expanded="false">
            <i class="fa fa-table"></i>
            <span class="hide-menu">Giáo viên</span>
          </a>
          <ul aria-expanded="false" class="collapse">
            <li>
              <a href="layout-blank.html">Bộ môn</a>
            </li>
            <li>
              <a href="layout-boxed.html">Nha</a>
            </li>
          </ul>
        </li>
        <li>
          <a class="has-arrow  " href="#" aria-expanded="false">
            <i class="fa fa-table"></i>
            <span class="hide-menu">Môn học</span>
          </a>
          <ul aria-expanded="false" class="collapse">
            <li>
              <a href="layout-blank.html">Bộ môn</a>
            </li>
            <li>
              <a href="layout-boxed.html">Nha</a>
            </li>
          </ul>
        </li>
        <li>
          <a class="has-arrow  " href="#" aria-expanded="false">
            <i class="fa fa-map-marker"></i>
            <span class="hide-menu">Báo cáo</span>
          </a>
          <ul aria-expanded="false" class="collapse">
            <li>
              <a href="map-google.html">Google</a>
            </li>
            <li>
              <a href="map-vector.html">Vector</a>
            </li>
          </ul>
        </li>
        <li>
          <a class="has-arrow  " href="#" aria-expanded="false">
            <i class="fa fa-edit"></i>
            <span class="hide-menu">Các hoạt động</span>
          </a>
          <ul aria-expanded="false" class="collapse">
            <li>
              <a href="chart-flot.html">Xem các hoạt động</a>
            </li>
            <li>
              <a href="#">Tạo hoạt động</a>
            </li>

          </ul>
        </li>
        <li>
          <a class="has-arrow  " href="#" aria-expanded="false">
            <i class="fa fa-wpforms"></i>
            <span class="hide-menu">Trợ giúp</span>
          </a>
          <ul aria-expanded="false" class="collapse">
            <li>
              <a href="form-basic.html"></a>
            </li>
            <li>
              <a href="form-layout.html"></a>
            </li>
            <li>
              <a href="form-validation.html"></a>
            </li>
            <li>
              <a href="form-editor.html"></a>
            </li>
            <li>
              <a href="form-dropzone.html"></a>
            </li>
          </ul>
        </li>
        <li>
          <a class="has-arrow  " href="#" aria-expanded="false">
            <i class="fa fa-columns"></i>
            <span class="hide-menu">Góp ý</span>
          </a>
          <ul aria-expanded="false" class="collapse">
            <li>
              <a href="table-bootstrap.html"></a>
            </li>
            <li>
              <a href="table-datatable.html"></a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</div>
<!-- End Left Sidebar  -->