<!-- Left Sidebar  -->
<div class="left-sidebar">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
      <ul id="sidebarnav">
        <li class="nav-devider"></li>

        <li>
          <a class="has-arrow  " href="#" aria-expanded="false">
            <i class="fa fa-tachometer"></i>
            <span class="hide-menu">Dashboard</span>
          </a>
        </li>

        <li>
          <a class="has-arrow  " href="#" aria-expanded="false">
            <i class="fa fa-address-book"></i>
            <span class="hide-menu">Quản lý học sinh</span>
          </a>
          <ul aria-expanded="false" class="collapse">
            <li>
              <a href="/student/find">Thông tin học sinh</a>
            </li>
          </ul>
        </li>
        <li>
          <a class="has-arrow  " href="#" aria-expanded="false">
            <i class="fa fa-bar-chart"></i>
            <span class="hide-menu">Quản lý điểm</span>
          </a>
          <ul aria-expanded="false" class="collapse">
            <li>
              <a href="chart-flot.html">Nhập điểm</a>
            </li>
            <li>
              <a href="chart-morris.html">Xem điểm</a>
            </li>
            <li>
              <a href="chart-chartjs.html">Điểm cá nhân</a>
            </li>
          </ul>
        </li>

        <li>
          <a class="has-arrow  " href="#" aria-expanded="false">
            <i class="fa fa-suitcase"></i>
            <span class="hide-menu">Quản lý phòng học</span>
          </a>
          <ul aria-expanded="false" class="collapse">
            <li>
              <a href="/room">Mượn Phòng</a>
            </li>
            <li>
              <a href="/room/approve">Kiểm duyệt phòng</a>
            </li>
            <li>
              <a href="/room/return">Trả phòng</a>
            </li>
          </ul>
        </li>
        <li>
          <a class="has-arrow  " href="#" aria-expanded="false">
            <i class="fa fa-suitcase"></i>
            <span class="hide-menu">Danh sách các lớp</span>
          </a>
          <ul aria-expanded="false" class="collapse">
            <li>
              <a href="uc-calender.html">Khối 10</a>
            </li>
            <li>
              <a href="uc-datamap.html">Khối 11</a>
            </li>
            <li>
              <a href="uc-nestedable.html">Khối 12</a>
            </li>
          </ul>
        </li>
        <li>
          <a class="has-arrow  " href="#" aria-expanded="false">
            <i class="fa fa-table"></i>
            <span class="hide-menu">Quản lý giáo viên</span>
          </a>
          <ul aria-expanded="false" class="collapse">
            <li>
              <a href="layout-blank.html">Giáo viên các bộ môn</a>
            </li>
            <li>
              <a href="layout-boxed.html">Giáo viên chủ nhiệm</a>
            </li>
            <li>
              <a href="layout-boxed.html">Các lỗi vi phạm của giáo viên</a>
            </li>
          </ul>
        </li>
        <li>
          <a class="has-arrow  " href="#" aria-expanded="false">
            <i class="fa fa-map-marker"></i>
            <span class="hide-menu">Báo cáo / Thống kê</span>
          </a>
          <ul aria-expanded="false" class="collapse">
            <li>
              <a href="map-google.html">Thống kê chung</a>
            </li>
            <li>
              <a href="map-vector.html">Báo cáo điểm theo môn</a>
            </li>
            <li>
              <a href="map-vector.html">Báo cáo điểm lớp</a>
            </li>
            <li>
              <a href="map-vector.html">Báo cáo điểm học sinh</a>
            </li>
          </ul>
        </li>
        <li>
          <a class="has-arrow  " href="#" aria-expanded="false">
            <i class="fa fa-edit"></i>
            <span class="hide-menu">Quản lý hoạt động</span>
          </a>
          <ul aria-expanded="false" class="collapse">
            <li>
              <a href="chart-flot.html">Xem các hoạt động</a>
            </li>
            <li>
              <a href="#">Tạo hoạt động</a>
            </li>
          </ul>
        </li>
        <li>
          <a class="has-arrow  " href="#" aria-expanded="false">
            <i class="fa fa-columns"></i>
            <span class="hide-menu">Góp ý</span>
          </a>
          <ul aria-expanded="false" class="collapse">
            <li>
              <a href="table-bootstrap.html">Góp ý cho trường</a>
            </li>
            <li>
              <a href="table-datatable.html">Báo cáo sự cố kĩ thuật</a>
            </li>
          </ul>
        </li>
        <li>
            <a href="/role" aria-expanded="false">
              <i class="fa fa-user"></i>
              <span class="hide-menu">Quản trị người dùng</span>
            </a>
          </li>
      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</div>
<!-- End Left Sidebar  -->