<div>
  <div class="row justify-content-center">
    <% if (role.viewStudents) { %>
      <div class="col-md-3">
        <a href="/student">
          <div class="card bg-warning p-20">
            <div class="media widget-ten">
              <div class="media-above meida media-middle">
                <span>
                  <i class="ti-user f-s-40"></i>
                </span>
              </div>
              <div class="media-body media-text-right">
                <h2 class="color-white">Quản lý học sinh</h2>
              </div>
            </div>
          </div>
        </a>
      </div>
    <% } %>
    <% if (role.viewClasses) { %>
      <div class="col-md-3">
        <a href="/class">
          <div class="card bg-pink p-20">
            <div class="media widget-ten">
              <div class="media-left meida media-middle">
                <span>
                  <i class="ti-clipboard f-s-40"></i>
                 </span>
              </div>
              <div class="media-body media-text-right">
                <h2 class="color-white">Danh sách các lớp</h2>
              </div>
            </div>
          </div>
        </a>
      </div>
    <% } %>
    <% if (role.viewGrades) { %>
      <div class="col-md-3">
        <a href="/grade">
          <div class="card bg-success p-20">
            <div class="media widget-ten">
              <div class="media-left meida media-middle">
                <span>
                  <i class="ti-bar-chart-alt f-s-40"></i>
                </span>
              </div>
              <div class="media-body media-text-right">
                <h2 class="color-white">Quản lý điểm số</h2>
              </div>
            </div>
          </div>
        </a>
      </div>
    <% } %>
    <% if (role.rentailRooms) { %>
      <div class="col-md-3">
        <a href="/room">
          <div class="card bg-secondary p-20">
            <div class="media widget-ten">
              <div class="media-above meida media-middle">
                <span>
                  <i class="ti-pencil-alt f-s-40"></i>
                </span>
              </div>
              <div class="media-body media-text-right">
                <h2 class="color-white">Mượn phòng học </h2>
              </div>
            </div>
          </div>
        </a>
      </div>
    <% } %>
    <% if (role.viewTeachers) { %>
      <div class="col-md-3">
        <a href="/teacher">
          <div class="card bg-danger p-20">
            <div class="media widget-ten">
              <div class="media-left meida media-middle">
                <span>
                  <i class="ti-id-badge f-s-40"></i>
                </span>
              </div>
              <div class="media-body media-text-right">
                <h2 class="color-white">Quản lý giáo viên</h2>
              </div>
            </div>
          </div>
        </a>
      </div>
    <% } %>
    <% if (role.viewReports) { %>
      <div class="col-md-3">
        <a href="/report">
          <div class="card bg-primary p-20">
            <div class="media widget-ten">
              <div class="media-left meida media-middle">
                <span>
                  <i class="ti-receipt f-s-40"></i>
                </span>
              </div>
              <div class="media-body media-text-right">
                <h2 class="color-white">Báo cáo / Thống kê</h2>
              </div>
            </div>
          </div>
        </a>
      </div>
    <% } %>
    <% if (role.viewEvents) { %>
      <div class="col-md-3">
        <a href="/activity">
          <div class="card bg-warning p-20">
            <div class="media widget-ten">
              <div class="media-above meida media-middle">
                <span>
                  <i class="ti-user f-s-40"></i>
                </span>
              </div>
              <div class="media-body media-text-right">
                <h2 class="color-white">Xem các hoạt động</h2>
              </div>
            </div>
          </div>
        </a>
      </div>
    <% } %>
  </div>
</div>