<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Favicon icon -->
  <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
  <title>Ela - Bootstrap Admin Dashboard Template</title>
  <%- include('partials/stylesheet') %>
</head>

<body class="fix-header fix-sidebar">
  <!-- Preloader - style you can find in spinners.css -->
  <div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
  </div>
  <!-- Main wrapper  -->
  <div id="main-wrapper">

    <div class="unix-login">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-lg-4">
            <div class="login-content card">
              <div class="login-form">
                <h4>Login</h4>
                <form action="/login" method="post">
                  <% if(err) { %>
                    <div class="form-group">
                      <div class="alert alert-danger alert-dismissible fade show">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                        <strong>Holy guacamole!</strong><%- err %>
                      </div>
                    </div>
                    <% } %>
                      <div class="form-group">
                        <label>Identification Number</label>
                        <input type="text" name="identifyCard" class="form-control" placeholder="Indentify Number">
                      </div>
                      <div class="form-group">
                        <label>Password</label>
                        <input type="password" name="password" class="form-control" placeholder="Password">
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" name="rememberme"> Remember Me
                        </label>
                        <label class="pull-right">
                          <a href="#">Forgot Password?</a>
                        </label>
                      </div>
                      <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30">Sign in</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- End Wrapper -->
  <%- include('partials/scripts') %>

</body>

</html>