<div>
  <div class="row justify-content-center">
      <div class="col-md-3">
        <a href="/class/10">
          <div class="card bg-warning p-20">
            <div class="media widget-ten">
              <div class="media-above meida media-middle">
                <span>
                  <i class="ti-user f-s-40"></i>
                </span>
              </div>
              <div class="media-body media-text-right">
                <h2 class="color-white">Khối 10</h2>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3">
        <a href="/class/11">
          <div class="card bg-pink p-20">
            <div class="media widget-ten">
              <div class="media-left meida media-middle">
                <span>
                  <i class="ti-clipboard f-s-40"></i>
                 </span>
              </div>
              <div class="media-body media-text-right">
                <h2 class="color-white">Khối 11</h2>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3">
        <a href="/class/12">
          <div class="card bg-success p-20">
            <div class="media widget-ten">
              <div class="media-left meida media-middle">
                <span>
                  <i class="ti-bar-chart-alt f-s-40"></i>
                </span>
              </div>
              <div class="media-body media-text-right">
                <h2 class="color-white">Khối 12</h2>
              </div>
            </div>
          </div>
        </a>
      </div>
  </div>
</div>